## Session 2 : Exercices

## 2 - Playing with Basic Data Structure

Before starting,
- Use `sorted()` native function to sort a dict
- Checkout ``` zip() ``` native function

Exercice 1 - using the input list
- Add 0.05
- Sum all the elements
- Find the min/max values
- Compute the average
- Remove negative returns
- Compute the volatility

In [ ]:
returns = [0.01, -0.04, -0.02, 0.03, .01, .02]
returns.append(0.05)
totalsum=sum(returns)
minvalue=min(returns)
maxvalue=max(returns)

average = total / len(returns)

positive_returns = [r for r in returns if r >= 0]
'ou'
positive_returns = []
for r in returns:
    if r >= 0:
        positive_returns.append(r)

mean = average
variance = sum((r - mean) ** 2 for r in returns) / len(returns)
volatility = math.sqrt(variance)

Exercise 2 - Iterate both lists simulteanously

In [ ]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]

for a, b in zip(list1, list2):
    print(a, b)

x: 10, y:100
x: 20, y:200
x: 30, y:300
x: 40, y:400

Exercise 3
- Returns True if last number match first number else False
<br>
- Return duplicated values in each list with occurence
<br>
- Check if empty
<br>

In [16]:
numbers_x = [10, 20, 30, 20, 10]
numbers_y = [75, 65, 75, 75, 30]
numbers_z = []

Exercise 4
- Price a vanila bond using below formula, use a list to store cash flows
<br>
$$
price_{t} = \sum_{i=1}^{N} \frac{C_i}{(1 + r)^i} + \frac{FV}{(1 + r)^N}
$$
<br>

where 
- $C_i$ is the price of the bond at time $i$
- $FV$ is the face value of the bond
- $r$ is the interest rate
- $N$ is the number of years

<br>
<br>

In [18]:
coupon = 0.05
rate = 0.03
face_value = 100
n = 10

Exercise 5 - Flatten nested list

In [30]:
list_of_lists = [[1, 2], [3, 4], [5, 6, 7]]

Exercise 6 - Use list comprehension to create a new list with only numbers

In [38]:
list1 = [100, 45, 38, 'TSLA', 47, 36, 'MSFT', 'TTE', 56]
list2 = [65.9, 'SG', 38.4, 47, 36.5, 'GS']

Exercise 7 - Remove duplicates in list
- Case sensitive
- Case insensitive

In [ ]:
list1 = [67, 89, 67, 'TSLA', 'Apple', 'APple', 'TSLA', 45, 78, 89]

{67, 'Apple', 'APple', 'TSLA', 45, 78, 89}
{67, 'tsla', 'apple', 45, 78, 89}

Exercise 8 - Compute portfolio value in t0 and t1, pnl, worst and best performers

In [ ]:
prices_t0 = {'Tesla': 65.0, 'Microsoft': 45.0, 'Apple': 87.0, 'Palantir': 97.0, 'AirLiquide': 106.8}
prices_t1 = {'Tesla': 89.0, 'Microsoft': 30.0, 'Apple': 76.0, 'Palantir': 28.0, 'AirLiquide': 150.9}
units_t0 = {'Tesla': 100.0, 'Microsoft': 30.0, 'Apple': -14.0, 'Palantir': 0.0, 'AirLiquide': 28.2}

Exercise 9 - Create the below functions
- Count the number of upper and lower case
- Count the number of occurrence of each character

In [ ]:
str1 = 'GeneralMotors'
str2 = 'ExxonMobile'

countL = 0
countU = 0

for char in str1:
    if char.islower():
        countL += 1
    elif char.isupper():
        countU += 1

for char in str2:
    if char.islower():
        countL += 1
    elif char.isupper():
        countU += 1

print("Lowercase letters:", countL)
print("Uppercase letters:", countU)

counts = {}

for char in str1 + str2:
    if char in counts:
        counts[char] += 1
    else:
        counts[char] = 1

print(counts)

Exercise 10 - Create a function to find the index of the second occurence of an element in a list, returns -1 otherwise. Update the function to find the n-th index of an element in the list

In [ ]:
stocks = ['broadcom', 'alphabet', 'meta', 'alphabet', 'berkshire', 'jpmorgan', 'alphabet']
element1 = 'alphabet'
element2 = 'meta'

def nth_index(lst, value, n):
    count = 0
    for i, x in enumerate(lst):
        if x == value:
            count += 1
            if count == n:
                return i
    return -1

Exercise 11 - Find the union of the two below lists

In [ ]:
numbers_x = [10, 20, 30, 20, 10]
numbers_y = [75, 20, 75, 75, 30]
union = list(set(numbers_x) | set(numbers_y))
print(union)

Exercise 12 - Create a recursive function to compute a sum of all the number from 0 to n

In [ ]:
n = 10
def recursive_sum(n):
    if n == 0:
        return 0
    return n + recursive_sum(n - 1)

55